.mobileBtn {
  display: none;
  > svg {
    padding: 1vw;
    width: 8vw;
    height: 8vw;
  }

  @media( max-width: 768px) {
    display: block;
  }
}

.inner_content {
    overflow-y: hidden;
    height: 100%;

  &.isActive{
      overflow-y: auto;
  }
}