.content {
  display: flex;
  flex-direction: row;
  z-index: 2;

  position: relative;

  img {
    border-radius: 50%;
    width: 124px;
    height: 124px;
  }

  .info {
    padding: 0 16px;

    h1 {
    }

    h3 p.bio {
      padding: 8px 0px;
    }
  }
}
