.contractCard {
  padding: 1.5em 2.5em;
  font-size: 16px;

  @media (max-width: 1024px) {
    font-size: calc(15.6 * 0.1vw);
  }

  hr {
    width: 99%;
    margin: 1em 0.5%;
  }

  .profileField {
    display: flex;
    justify-content: space-between;

    .profileBox {
      flex: 1;
      display: flex;
      flex-direction: row;

      .profileImage {
        img {
          width: 3.5em;
          height: 3.5em;
          border-radius: 100%;

          background: #d9d9d9;
        }
      }

      .memberInfo {
        div {
          display: flex;
          margin: 0.25em 1.25em;

          strong {
            font-size: 1.25em;
            margin-right: 0.25em;
          }
        }

        p {
          align-self: center;
          font-weight: 600;
          font-size: 0.875em;
          color: #707070;
        }
      }
    }

    .contractStatus {
      flex: 1;
      font-size: 1.125em;
      font-weight: 600;
      margin: 0.75em;
      text-align: right;
      .approve {
        color: #ffbf1b;
      }
      .processing {
        color: #ff5959;
      }
      .complete {
        color: #42d395;
      }
    }
  }

  .contentField {
    display: flex;
    justify-content: space-between;
    .contentBox {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      .itemInfo {
        flex: 1;
        p {
          align-self: center;
          font-weight: 600;
          color: #707070;
        }

        .noInfo {
          display: flex;

          p {
            width: 50%;
          }
        }

        strong {
          display: flex;
          font-size: 1em;
          margin: 0.75em 0;

          p {
            color: black;
          }
        }
      }
      .priceInfo {
        flex: 1;

        p {
          align-self: center;
          font-weight: 600;
          color: #707070;
          margin: 1em 0;

          strong {
            color: black;
          }
        }
      }

      .contractButton {
        display: flex;
        justify-content: center;

        button {
          flex: 1;
          max-width: 90%;
          font-weight: 700;
          font-size: 1em;
          color: #707070;
          background: white;

          width: 15em;
          height: 2.5em;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        button:hover {
          opacity: 0.8;
          background: #707070;
          color: white;
        }
      }
    }

    .imageBox {
      flex: 1;
      img {
        width: 90%;
        height: 100%;
        max-height: 15em;
        border-radius: 4px;
      }
    }
  }
}
