.houseCardContent {
  border: 1px solid;

  border-image-source: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));

  border-radius: 12px;

  .upperCard {
    display: flex;
    flex-direction: row;

    .leftBox {
      flex: 1;

      padding-top: 24px;
      color: aliceblue;

      p {
        font-size: 1vw;
      }
    }

    .rightBox {
      flex: 1;
      width: 140px;
      height: 140px;

      img {
        width: 100%;
        height: 100%;

        overflow: hidden;

        border-radius: 32%;
        padding: 16px 8px;
      }
    }
  }

  .downCard {
    text-align: left;

    button {
      background-color: inherit;
      border: 0;
      padding: 1vw;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.consulting_inner {
  position: relative;
  .upperCard {

    
    .leftBox {
      h3 {
        font-size: 1.7vw;
        color : #FAFAFA;
      }
    }
    
    .rightBox {
      img  {
        
        width: 11vw;
        height: 11vw;
        border-radius: 4vw;
      }
    }
    @media (max-width: 768px) { 
      .leftBox {
        h3 {
          font-size: 7vw;
          color : #FAFAFA;
        }
      }
      
      .rightBox {
        img  {
          
          width: 40vw;
          height: 40vw;
          border-radius: 10vw;
        }
      }
    }
  }

  .badge {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ececec;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0,100%);

    height: 30vw;
    // @extend %flex;
    // animation: animainfos cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;

    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
      height: 70vw;

      transform: translate(0,100%);
    }

    span {
      font-size: 1.6em;
      margin: 0px 6px;
      opacity: 0.6;
    }
  }
}

@keyframes animainfos {
  0% {
    top: 10vw;
  }
  100% {
    top: 14vw;
  }
}


///예약 - 매물 카드 컨텐트

.reservationItem {
  display: flex;
  flex-direction: column;

  padding: 12px;

  width: 24vw;

  background: linear-gradient(0deg, #f3f0f0, #FAFAFA),
  linear-gradient(0deg, #FAFAFA, #FAFAFA);

  text-align: left;

  img {
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 1.5rem;

    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  button:last-child {
    display: block;
    font-size: 0.8rem;
    
    padding: 4px;
    padding-top: 2vw;
    
    border: 0;
    
    
    text-decoration: underline;
    text-align: left;

    cursor: pointer;
  }
}

