.houseCardContent {
  border: 1px solid;

  border-image-source: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));

  border-radius: 12px;

  .upperCard {
    display: flex;
    flex-direction: row;

    .leftBox {
      flex: 1;

      padding-top: 24px;
      color: aliceblue;

      p {
        font-size: 1vw;
      }
    }

    .rightBox {
      flex: 1;
      width: 140px;
      height: 140px;

      img {
        width: 100%;
        height: 100%;

        overflow: hidden;

        border-radius: 32%;
        padding: 16px 8px;
      }
    }
  }

  .downCard {
    text-align: left;

    button {
      background-color: inherit;
      border: 0;
      padding: 1vw;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.reserveCard {
  display: flex;
  height: 142px !important;
  width: 100%;
  cursor: pointer;
  text-align: left;

  @media (max-width: 1400px) {
    font-size: 14px;
  }
  @media (max-width: 1024px) {
    font-size: 13px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  .leftContent {
    img {
      padding: 4px;
      width: 85%;
      border-radius: 8px;
      height: 148px;
    }
  }

  .rightContent {
    display: flex;
    flex-direction: column;
    transform: translateX(-10%);

    h2 {
      width: 100%;
      font-size: 1.1em;
      margin: 4px 0;
    }

    p {
      width: 100%;
      font-size: 0.8em;
      margin: 2px 0;
    }

    .descText {
      width: 100%;
      margin: 10px 0;
      line-height: 2em;
      font-size: 0.7em;
    }
  }
}
.consulting_inner {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid;
  color: #eaeaea;

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    rgba(250, 250, 250, 0.3);
  border-radius: 12px;

  max-width: 440px;

  &::after {
    content: "";
    background: linear-gradient(
      237.31deg,
      rgba(255, 255, 255, 0.6) -7.89%,
      rgba(243, 243, 243, 0) 48.19%,
      rgba(255, 255, 255, 0.446875) 110.44%
    );

    transform: matrix(-1, 0, 0, 1, 0, 0);

    border-radius: 10px;
    z-index: 999;
  }

  &.highlight {
    border: 2px solid #86f656;
  }

  .upperCard {
    display: flex;
    flex: 4;

    .leftBox {
      flex: 1;
      color: aliceblue;

      > div {
        text-align: left;
        font-size: 0.8rem;
        margin-bottom: 12px;
      }

      h3 {
        font-size: 20px;
        font-weight: 580;
        color: #fafafa;
        margin-bottom: 8px;

        > span {
          font-size: 24px;
        }
      }

      p {
        line-height: 16px;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
      }
    }

    .rightBox {
      width: 160px;
      height: 160px;
      flex: 1;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        padding: 4px;
        border-radius: 10px;
      }
    }

    @media (max-width: 768px) {
      .leftBox {
        h3 {
          font-size: 7vw;
          color: #fafafa;
        }
      }

      .rightBox {
        img {
          padding: 0;

          width: 26vw;
          height: 18vh;
          border-radius: 10vw;

          object-fit: contain;
        }
      }
    }
  }

  .downCard {
    text-align: left;
    flex: 1;

    button {
      background-color: inherit;
      color: #c5c5c5;
      border: 0;

      &:hover {
        color: #fafafa;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  .badge {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(2, 47, 28, 1);
    background-attachment: local;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
    }

    > div {
      &:first-child {
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
      }

      > button {
        width: 100%;
        padding: 0.7rem;

        background-color: inherit;
        border: 0;

        color: #fafafa;

        font-size: 1rem;
        font-weight: 550;
        &:hover {
          font-size: 1.1rem;
        }
      }
    }

    span {
      font-size: 1.6em;
      margin: 0px 6px;
      opacity: 0.6;
    }
  }
}

@keyframes animainfos {
  0% {
    top: 10vw;
  }

  100% {
    top: 14vw;
  }
}

.reservationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 0 3em 0;
  padding: 15px;
  background: #fafafa;
  border-radius: 4px;

  text-align: left;

  cursor: pointer;

  .image {
    border-radius: 4px;
    width: 280px;
    height: 180px;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;
      height: 100%;
      padding-bottom: 8px;
      object-fit: fill;
    }
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;

    font-weight: 700;
  }

  p {
    margin: 4px 0;
    font-size: 0.9rem;
    font-weight: 400;
    white-space: pre-wrap;
  }

  button:last-child {
    display: block;
    font-size: 0.8rem;

    padding: 4px;
    padding-top: 2vw;

    border: 0;

    text-decoration: none;
    text-align: left;
    color: #707070;
    cursor: pointer;
  }
  .removeText {
    display: none;
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
  }
}

.reservationItem:hover {
  .removeText {
    display: block;
  }

  .cardBox {
    opacity: 0.25;
  }
}

.houseItem {
  display: flex;
  margin: 0px;
  cursor: default;

  .houseImg {
    display: flex;

    img {
      width: 198px;
      height: 144px;
      border-radius: 6px;

      @media (max-width: 1024px) {
        width: calc(198 * 0.1vw);
        height: calc(144 * 0.1vw);
      }
    }
  }

  .houseInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 32px;
    padding: 8px 0;

    @media (max-width: 1024px) {
      margin: 0 calc(32 * 0.1vw);
      padding: 0;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 6px;

      @media (max-width: 1024px) {
        font-size: calc(20 * 0.1vw);

        margin-bottom: 4px;
      }
    }

    p {
      font-size: 15px;
      font-weight: 600;
      margin: 1px 0;
      color: #4e4e4e;

      @media (max-width: 1024px) {
        font-size: calc(17 * 0.1vw);
      }
    }

    .desc {
      color: #767676;
      margin-top: 6px;

      @media (max-width: 1024px) {
        margin-top: 2px;
      }
    }
  }

  button:last-child {
    display: block;
    position: relative;
    font-size: 0.9rem;
    font-weight: 400;

    padding: 4px;
    border: 0;

    background-color: #ffffff;

    text-decoration: none;
    text-align: left;

    color: #707070;
    cursor: pointer;

    &::after {
      content: "\25BC";
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      transform: rotate(-90deg);
      pointer-events: none;
      color: #707070;
      font-size: 0.8em;
      padding-left: 8px;
    }

    &:hover {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.contractForSale {
  .inner {
    width: 67.7%;
    margin-left: 15%;
    text-align: left;
    font-size: 1.05rem;

    p {
      font-size: 14px;
    }

    .contractContent {
      display: flex;

      .leftDesc {
        flex: 3;

        p {
          color: rgba(112, 112, 112, 1);
          font-weight: 400;
          font-family: Roboto;
          margin: 6px 0;
          font-size: 14px;
        }

        h4 {
          margin: 6px 0;
          font-size: 16px;
        }

        .infoBoxList {
          width: 100%;
          margin-top: 7%;
          margin-right: 5%;

          .forSale {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .extraFee {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .term {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .moveDate {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }
        }
      }

      .rightImg {
        flex: 3.5;
        width: 10vw;
        margin: 0 5% 5% 5%;

        box-sizing: border-box;
        font-size: 16px;

        .imageContent {
          display: flex;

          .imageBox {
            width: 100%;
            display: flex;
            box-sizing: border-box;
            border-radius: 6px;

            .mainImage {
              display: inline-flex;
              width: 90%;

              img {
                object-fit: cover;
                box-sizing: border-box;
                width: 100%;
                min-width: 20vw;
                height: 21em;

                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
              }
            }

            .subImage {
              display: inline-flex;
              flex-wrap: wrap;
              width: 50%;

              img {
                object-fit: cover;
                box-sizing: border-box;
                width: 100%;
                min-width: 14vw;
                height: 10.25em;
                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
              }
            }
          }
        }
      }
    }

    hr {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .contractForSale {
    margin: 1%;

    .inner {
      width: 100%;
      margin-left: 0%;
      text-align: left;

      p {
        font-size: 14px;
      }

      .contractContent {
        .leftDesc {
          p {
            color: rgba(112, 112, 112, 1);
            font-weight: 400;
            font-family: Roboto;
            margin: 6px 0;
            font-size: 14px;
          }

          h4 {
            margin: 6px 0;
            font-size: 16px;
          }

          .infoBoxList {
            width: 100%;
            margin-top: 7%;

            .forSale {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .extraFee {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .term {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .moveDate {
              display: flex;
              margin-bottom: 5%;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }
          }
        }

        .rightImg {
          display: none;
        }
      }
    }
  }
}

.contractForSaleContent {
  .inner {
    width: 67.7%;
    margin-left: 15%;
    text-align: left;
    font-size: 1.05rem;

    p {
      font-size: 14px;
    }

    .contractContent {
      display: flex;

      .leftDesc {
        flex: 3;

        p {
          color: rgba(112, 112, 112, 1);
          font-weight: 400;
          font-family: Roboto;
          margin: 6px 0;
          font-size: 14px;
        }

        h4 {
          margin: 6px 0;
          font-size: 16px;
        }

        .infoBoxList {
          width: 100%;
          margin-top: 7%;
          margin-right: 5%;

          .forSale {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .extraFee {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .term {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .moveDate {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }
        }
      }

      .rightImg {
        flex: 3.5;
        width: 10vw;
        margin: 0 5% 5% 5%;

        box-sizing: border-box;
        font-size: 16px;

        .imageContent {
          display: flex;

          .imageBox {
            width: 100%;
            display: flex;
            box-sizing: border-box;
            border-radius: 6px;

            .mainImage {
              display: inline-flex;
              width: 90%;

              img {
                box-sizing: border-box;
                object-fit: cover;
                width: 100%;
                min-width: 20vw;
                height: 21em;
                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
              }
            }

            .subImage {
              display: inline-flex;
              flex-wrap: wrap;
              width: 50%;

              img {
                box-sizing: border-box;
                object-fit: cover;
                width: 100%;
                min-width: 14vw;
                height: 10.25em;
                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
              }
            }
          }
        }
      }
    }

    hr {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .contractForSaleContent {
    margin: 1%;

    .inner {
      width: 100%;
      margin-left: 0%;
      text-align: left;

      p {
        font-size: 14px;
      }

      .contractContent {
        .leftDesc {
          p {
            color: rgba(112, 112, 112, 1);
            font-weight: 400;
            font-family: Roboto;
            margin: 6px 0;
            font-size: 14px;
          }

          h4 {
            margin: 6px 0;
            font-size: 16px;
          }

          .infoBoxList {
            width: 100%;
            margin-top: 7%;

            .forSale {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .extraFee {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .term {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .moveDate {
              display: flex;
              margin-bottom: 5%;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }
          }
        }

        .rightImg {
          display: none;
        }
      }
    }
  }
}

.contractForSaleContentRealtor {
  .inner {
    width: 67.7%;
    margin-left: 15%;
    text-align: left;
    font-size: 1.05rem;

    p {
      font-size: 14px;
    }

    .contractContent {
      display: flex;

      .leftDesc {
        flex: 3;

        p {
          color: rgba(112, 112, 112, 1);
          font-weight: 400;
          font-family: Roboto;
          margin: 6px 0;
          font-size: 14px;
        }

        h4 {
          margin: 6px 0;
          font-size: 16px;
        }

        .infoBoxList {
          width: 100%;
          margin-top: 7%;
          margin-right: 5%;

          .forSaleDeposit {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .forSaleRent {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .extraFee {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .term {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .moveDate {
            display: flex;

            strong {
              flex: 1;
              padding: 1.5% 0 0 0;
            }

            input {
              flex: 1;
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }
        }
      }

      .rightImg {
        flex: 3.5;
        width: 10vw;
        margin: 0 5% 5% 5%;

        box-sizing: border-box;
        font-size: 16px;

        .imageContent {
          display: flex;

          .imageBox {
            width: 100%;
            display: flex;
            box-sizing: border-box;
            border-radius: 6px;

            .mainImage {
              display: inline-flex;
              width: 90%;

              img {
                box-sizing: border-box;
                width: 100%;
                min-width: 20vw;
                height: 21em;
                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
                object-fit: cover;
              }
            }

            .subImage {
              display: inline-flex;
              flex-wrap: wrap;
              width: 50%;

              img {
                box-sizing: border-box;
                width: 100%;
                min-width: 14vw;
                height: 10.25em;
                margin: 0.25em;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    hr {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .contractForSaleContentRealtor {
    margin: 1%;

    .inner {
      width: 100%;
      margin-left: 0%;
      text-align: left;

      p {
        font-size: 14px;
      }

      .contractContent {
        .leftDesc {
          p {
            color: rgba(112, 112, 112, 1);
            font-weight: 400;
            font-family: Roboto;
            margin: 6px 0;
            font-size: 14px;
          }

          h4 {
            margin: 6px 0;
            font-size: 16px;
          }

          .infoBoxList {
            width: 100%;
            margin-top: 7%;

            .forSale {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .extraFee {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .term {
              display: flex;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }

            .moveDate {
              display: flex;
              margin-bottom: 5%;

              strong {
                flex: 2;
                padding: 1% 0 0 0;
              }

              input {
                background: #fafafa;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                color: #050505;
                padding: 2%;
                font-size: 400;
                margin-bottom: 2%;
              }
            }
          }
        }

        .rightImg {
          display: none;
        }
      }
    }
  }
}
