.houseDetailCom {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 16px;

  @media (max-width: 1024px) {
    font-size: calc(15.6 * 0.1vw);
  }

  .imageContent {
    display: flex;

    .imageBox {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      border: 1px solid rgb(218, 218, 218);
      border-radius: 6px;

      .mainImage {
        display: inline-flex;
        width: 50%;
        img {
          box-sizing: border-box;
          // 1400 기준
          // width: 43.25em;
          // height: 31.5em;
          width: 31.4em;
          height: 23em;
          margin: 0.25em;
          border: 1px solid rgb(218, 218, 218);
          border-radius: 6px;
        }
      }
      .subImage {
        display: inline-flex;
        flex-wrap: wrap;
        width: 50%;
        img {
          box-sizing: border-box;
          // 1400 기준
          // width: 21.375em;
          // height: 15.5em;
          width: 15.45em;
          height: 11.25em;
          margin: 0.25em;
          border: 1px solid rgb(218, 218, 218);
          border-radius: 6px;
        }
      }
    }

    .imageButtonBox {
      // width: 98%;
      position: absolute;
      display: flex;
      align-self: flex-end;
      margin-left: 55.75em;
      margin-bottom: 0.75em;

      button {
        width: 6em;
        height: 1.75em;
        font-weight: 700;
        font-size: 1.25em;
        border-radius: 4px;
        background: white;
        cursor: pointer;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 0.1em;
          font-size: 0.75em;
          transition: all 0.1s ease;

          svg {
            width: 1em;
            height: 1em;
            margin: 0 0.5em 0 0;

            rect {
              width: 0.25em;
              height: 0.25em;
              fill: #707070;
            }
          }
        }
      }

      button:hover {
        div {
          font-size: 0.8em;
          opacity: 0.8;
        }
      }
    }
  }

  .contentBox {
    display: flex;
    text-align: left;
    margin: 0.5em 0;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;

    .InnerBox {
      width: calc(100% - 1em);
      padding: 0.5em 1.5em;

      .innerHeader {
        display: flex;

        .itemDesc {
          width: 66.66%;
          margin: 0.75em 0;

          p {
            font-size: 1.25em;
            margin: 0.5em 0;
            font-weight: 700;
          }

          div {
            display: flex;
            align-items: center;
            margin: 0.25em 0;

            span {
              display: inline-block;
              width: 7.5em;
              font-size: 1.25em !important;
              font-weight: 700;
            }

            p {
              font-size: 1em;
            }
          }

          .description {
            margin: 2.5em 0;
            font-size: 0.875em;
          }
        }

        .controlButtonBox {
          width: 33.34%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .itemInfo {
        margin: 2.5em 0;
        h3 {
          font-size: 1.25em;
        }

        div {
          font-weight: 700;
          display: flex;

          div {
            width: 33.3%;
            margin: 1em 0;
          }

          .Area {
            width: 100%;
          }

          .addressInfo {
            width: 66.66%;
          }

          svg {
            width: 1.375em;
            height: 1.375em;
            margin-right: 1.5em;
          }
        }

        button {
          border: none;
          background: transparent;
          font-size: 0.875em;
          font-weight: 700;
          margin: 1em 0 0 0;
          color: #bbbbbb;
          cursor: pointer;
        }
      }

      hr {
        margin: 2.5em 0;
        width: 100%;
      }

      .optionInfo {
        h3 {
          font-size: 1.25em;
        }

        div {
          margin: 1.25em;
          display: flex;
          flex-wrap: wrap;

          .optionBox {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            margin: 0.25em;
            box-sizing: border-box;
            width: 9em;
            height: 9em;
            border: 1px solid #bbbbbb;
            border-radius: 4px;

            svg {
              width: 3em;
              height: 3em;
            }

            p {
              font-size: 1.125em;
              font-weight: 700;
            }
          }
        }

        button {
          border: none;
          background: transparent;
          font-size: 0.875em;
          font-weight: 700;
          margin: 1em 0 0 0;
          color: #bbbbbb;
          cursor: pointer;
        }
      }

      .detailDesc {
        h3 {
          font-size: 1.25em;
        }

        div {
          margin: 1.25em 0;
          font-size: 1em;
          font-weight: 700;
          padding: 0 1em;
        }
      }

      .mapBox {
        h3 {
          font-size: 1.25em;
        }

        div {
          margin: 1.25em 0;
          font-size: 1em;

          p {
            font-size: 1.25em;
            font-weight: 700;
          }

          div {
            width: 98%;
            height: 25em;
            margin: 1%;
          }
        }
      }
    }
  }
}
