.houseCardContent {
  border: 1px solid;

  border-image-source: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));

  border-radius: 12px;

  .upperCard {
    display: flex;
    flex-direction: row;

    .leftBox {
      flex: 1;

      padding-top: 24px;
      color: aliceblue;

      p {
        font-size: 1vw;
      }
    }

    .rightBox {
      flex: 1;
      width: 140px;
      height: 140px;

      img {
        width: 100%;
        height: 100%;

        overflow: hidden;

        border-radius: 32%;
        padding: 16px 8px;
      }
    }
  }

  .downCard {
    text-align: left;

    button {
      background-color: inherit;
      border: 0;
      padding: 1vw;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.consulting_inner {
  // position: relative;

  display: flex;
  flex-direction: column;

  border: 1px solid;

  border-image-source: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));

  background-color: rgba(2, 47, 28, 1);
  border-radius: 12px;

  &::after {
    content: "";
    background: linear-gradient(
      237.31deg,
      rgba(255, 255, 255, 0.6) -7.89%,
      rgba(243, 243, 243, 0) 48.19%,
      rgba(255, 255, 255, 0.446875) 110.44%
    );

    border-radius: 10px;
    z-index: 999;
  }

  .upperCard {
    display: flex;
    flex: 4;

    .leftBox {
      padding-top: 8px;
      flex: 1;
      color: aliceblue;

      > div {
        text-align: left;
        padding: 4px;
        padding-left: 8px;

        font-size: 0.8rem;
        margin-bottom: 4px;
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 580;
        color: #fafafa;

        padding: 0.4rem;

        > span {
          font-size: 1rem;
        }
      }

      p {
        font-size: 0.7rem;
      }
    }

    .rightBox {
      border-radius: 0.1rem;

      flex: 1;
      img {
        width: 100%;
        height: auto;

        object-fit: contain;
        padding: 4px;

        border-radius: 1rem;
      }
    }

    @media (max-width: 768px) {
      .leftBox {
        h3 {
          font-size: 7vw;
          color: #fafafa;
        }
      }

      .rightBox {
        img {
          padding: 0;

          width: 26vw;
          height: 18vh;
          border-radius: 10vw;

          object-fit: contain;
        }
      }
    }
  }

  .downCard {
    text-align: left;
    flex: 1;

    button {
      background-color: inherit;
      border: 0;
      padding: 1vw;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .badge {
    padding: 1rem;
    border-radius: 3px;
    background-color: rgba(2, 47, 28, 1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    top: 0;
    // transform: translate(0, 100%);

    height: 100%;
    // @extend %flex;
    // animation: animainfos cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;

    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
      // height: 70vw;

      // transform: translate(0, 100%);
    }

    > div {
      &:first-child {
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
      }

      > button {
        width: 100%;
        padding: 0.7rem;

        background-color: inherit;
        border: 0;

        color: #fafafa;

        font-size: 1rem;
        font-weight: 550;
      }

      border-image-source: linear-gradient(
        237.31deg,
        rgba(255, 255, 255, 0.6) -7.89%,
        rgba(243, 243, 243, 0) 48.19%,
        rgba(255, 255, 255, 0.446875) 110.44%
      );

      background: linear-gradient(
        237.31deg,
        rgba(255, 255, 255, 0.6) -7.89%,
        rgba(243, 243, 243, 0) 48.19%,
        rgba(255, 255, 255, 0.446875) 110.44%
      );

      background: linear-gradient(
          45.74deg,
          rgba(232, 232, 232, 0.15) -0.5%,
          rgba(246, 246, 246, 0.00445545) 33.81%,
          rgba(246, 246, 246, 0) 70.76%,
          rgba(250, 250, 250, 0.15) 100.85%
        ),
        linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));
    }

    span {
      font-size: 1.6em;
      margin: 0px 6px;
      opacity: 0.6;
    }
  }
}

@keyframes animainfos {
  0% {
    top: 10vw;
  }
  100% {
    top: 14vw;
  }
}

///예약 - 매물 카드 컨텐트

.reservationItem {
  display: flex;
  flex-direction: column;

  padding: 12px;

  width: 24vw;

  background: linear-gradient(0deg, #f3f0f0, #fafafa), linear-gradient(0deg, #fafafa, #fafafa);

  text-align: left;

  cursor: pointer;

  img {
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 1.5rem;

    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  button:last-child {
    display: block;
    font-size: 0.8rem;

    padding: 4px;
    padding-top: 2vw;

    border: 0;

    text-decoration: underline;
    text-align: left;

    cursor: pointer;
  }
}

///예약 - 중개사의 매물목록

.houseItem {
  display: flex;
  margin: 0px;
  cursor: default;

  .houseImg {
    display: flex;

    img {
      width: 198px;
      height: 144px;
      border-radius: 6px;

      @media (max-width: 1024px) {
        width: calc(198 * 0.1vw);
        height: calc(144 * 0.1vw);
      }
    }
  }

  .houseInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 32px;
    padding: 8px 0;

    @media (max-width: 1024px) {
      margin: 0 calc(32 * 0.1vw);
      padding: 0;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 6px;

      @media (max-width: 1024px) {
        font-size: calc(20 * 0.1vw);

        margin-bottom: 4px;
      }
    }

    p {
      font-size: 17px;
      font-weight: 600;
      margin: 1px 0;
      color: #4e4e4e;

      @media (max-width: 1024px) {
        font-size: calc(17 * 0.1vw);
      }
    }

    .desc {
      color: #767676;
      margin-top: 6px;
      @media (max-width: 1024px) {
        margin-top: 2px;
      }
    }
  }

  button:last-child {
    display: block;
    font-size: 0.8rem;

    padding: 4px;
    padding-top: 2vw;

    border: 0;

    background-color: #ffffff;

    text-decoration: underline;
    text-align: left;

    cursor: pointer;
  }
}

.contractForSale {
  margin: 3% 0;

  .inner {
    width: 67.7%;
    margin-left: 15%;
    text-align: left;

    .contractContent {
      display: flex;

      h3 {
        margin-left: 2%;
        margin-bottom: 2%;
      }

      .leftDesc {
        flex: 3;

        p {
          color: rgba(112, 112, 112, 1);
          font-weight: 400;
          font-family: Roboto;
        }

        .infoBoxList {
          width: 50%;
          margin-top: 2%;

          .forSale {
            display: flex;

            strong {
              flex: 2;
              padding: 1% 0 0 0;
            }

            input {
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .extraFee {
            display: flex;

            strong {
              flex: 2;
              padding: 1% 0 0 0;
            }

            input {
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .term {
            display: flex;

            strong {
              flex: 2;
              padding: 1% 0 0 0;
            }

            input {
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }

          .moveDate {
            display: flex;

            strong {
              flex: 2;
              padding: 1% 0 0 0;
            }

            input {
              background: #fafafa;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              color: #050505;
              padding: 2%;
              font-size: 400;
              margin-bottom: 2%;
            }
          }
        }
      }

      .rightImg {
        flex: 1;
        width: 5vw;
        margin-bottom: 5%;

          box-sizing: border-box;
            height: 100%;
            width: 100%;
            font-size: 16px;
          
            @media (max-width: 1024px) {
              font-size: calc(15.6 * 0.1vw);
            }
          
            .imageContent {
              display: flex;
          
              .imageBox {
                width: 100%;
                display: flex;
                box-sizing: border-box;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 6px;
          
                .mainImage {
                  display: inline-flex;
                  width: 50%;
          
                  img {
                    box-sizing: border-box;
                    // 1400 기준
                    // width: 43.25em;
                    // height: 31.5em;
                    width: 31.4em;
                    height: 23em;
                    margin: 0.25em;
                    border: 1px solid rgb(218, 218, 218);
                    border-radius: 6px;
                  }
                }
          
                .subImage {
                  display: inline-flex;
                  flex-wrap: wrap;
                  width: 50%;
          
                  img {
                    box-sizing: border-box;
                    // 1400 기준
                    // width: 21.375em;
                    // height: 15.5em;
                    width: 15.45em;
                    height: 11.25em;
                    margin: 0.25em;
                    border: 1px solid rgb(218, 218, 218);
                    border-radius: 6px;
                  }
                }
              }
            }
      }
    }
  }
}
