.houseDetail {
  height: 100%;
  width: 1024px;
  margin: 32px calc((100vw - 1024px) / 2);

  @media (max-width: 1024px) {
    width: calc(1000 * 0.1vw);
    margin: calc(32 * 0.1vw) calc((100vw - (1000px * 0.1vw) / 1px) / 2);
    font-size: calc(16 * 0.1vw);
  }

  h1 {
    margin: 1em;
  }
}
