.realtorCard{
  flex-direction: row;
  background: linear-gradient(115.11deg, rgba(255, 255, 255, 0.5) -3.35%, rgba(255, 255, 255, 0) 107.02%), #30D08B;
  padding:15px 0;

  .upCard {
      display: flex;
  
      .leftImg {
        // width: 80%;
        height: 80px;
        flex: 1;
        padding: 0 0 0 2%;
  
        img {
          width: 100%;
          height: 80px;
          border-radius: 70%;
        }
      }
  
      .rightDesc {
        flex: 2;
        padding: 6% 5% 0 0;
      }
    }
  
    .downCard {
      text-align: center;
      padding: 8% 0;
    }
}

@media(max-width:768px){
  
}

