.upCard {
  display: flex;

  .leftImg {
    width: 98px;
    height: 80px;
    flex: 1;
    padding: 0 0 0 10px;

    img {
      width: 88px;
      height: 80px;
      border-radius: 70%;
    }
  }

  .rightDesc {
    flex: 2; 
    padding: 20px 10px 0 0;
  }
}

.downCard {
  text-align: center;
  padding: 16px 0;
}

