.content {
  display: flex;
  padding: 2% 0;
  width: 100%;

  .leftContent {
    padding: 0 1%;
    flex: 7;
    display: flex;

    .leftImg {
      width: 10%;
      padding: 1%;
      flex: 2.5;

      img {
        width: 100%;
        border-radius: 70%;
      }
    }

    .rightDesc {
      flex: 6;
      padding: 6% 10% 0 3%;

      .personalInfo {
        p {
          text-align: left;

          strong {
            font-size: 1.3rem;
          }
        }
      }

      .consultingInfo {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 5% 0 0 0;

        .consultingDate {
          flex: 1;
          p {
            div {
              margin-top: 8px;
            }
          }
        }

        .consultingLocation {
          flex: 1;
          text-align: left;
          div {
            color: #bbbbbb;
          }
        }
      }
    }
  }

  .rightContent {
    flex: 6;

    div {
      display: flex;
      position: relative;
      top: 77%;
      padding: 0 5% 5% 0;

      .btn0 {
        flex: 1;
        padding: 1.5% 0;
        margin-right: 2%;
        border: none;
        font-size: 1rem;
        background: #ff5959;
        border-radius: 4px;
        width: 40%;
        color: white;
        font-weight: 700;
        left: 55%;
      }

      .btn1 {
        flex: 1;
        padding: 1.5% 0;
        margin-right: 2%;
        border: 0.3px solid rgba(112, 112, 112, 1);
        font-size: 1rem;
        border-radius: 4px;
        font-weight: 700;
        border: none;
      }

      .btn2 {
        flex: 1;
        padding: 1.5% 0;
        margin-right: 2%;
        background: #42d395;
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 4px;
        font-weight: 700;
      }

      .btn3 {
        flex: 1;
        padding: 1.5% 0;
        margin-right: 2%;
        background: white;
        border: 1px solid #42d395;
        color: #42d395;
        font-size: 1rem;
        border-radius: 4px;
        font-weight: 700;
      }

      .btn4 {
        flex: 1;
        margin-right: 2%;
        padding: 2% 3%;
        border: 0.3px solid rgba(112, 112, 112, 1);
        font-size: 1rem;
        border-radius: 4px;
        width: 40%;
        font-weight: 700;
        border: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    background-color: #fafafa;
    padding: 10% 0;
    width: 100%;

    .leftContent {
      padding: 0 1%;
      flex: 6;
      display: flex;

      .leftImg {
        display: none;
      }

      .rightDesc {
        flex: 6;
        padding: 6% 10% 0 3%;

        .personalInfo {
          p {
            text-align: left;
            font-size: 0.8rem;

            strong {
              font-size: 1rem;
            }
          }
        }

        .consultingInfo {
          display: none;
        }
      }
    }

    .rightContent {
      flex: 7;

      div {
        display: flex;
        position: relative;
        top: 60%;
        padding: 5% 5%;

        .btn1 {
          flex: 1;
          margin-right: 2%;
          padding: 1% 0;
          border: 0.3px solid rgba(112, 112, 112, 1);
          font-size: 0.7rem;
        }

        .btn2 {
          flex: 1;
          padding: 1.5% 0;
          background: #42d395;
          color: white;
          font-size: 0.5rem;
        }
      }
    }
  }
}
