.cardBox {
  display: flex;

  div {
    &:first-child {
      flex: 1;

      img {
        width: 88px;
        height: 80px;

        border-radius: 70%;
      }
    }

    &:last-child {
      flex: 2;
    }
  }
}

.consultingCardBox {
  display: flex;

  border: 1px solid;
  padding: 1rem;

  border-image-source: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
    237.31deg,
    rgba(255, 255, 255, 0.6) -7.89%,
    rgba(243, 243, 243, 0) 48.19%,
    rgba(255, 255, 255, 0.446875) 110.44%
  );

  background: linear-gradient(
      45.74deg,
      rgba(232, 232, 232, 0.15) -0.5%,
      rgba(246, 246, 246, 0.00445545) 33.81%,
      rgba(246, 246, 246, 0) 70.76%,
      rgba(250, 250, 250, 0.15) 100.85%
    ),
    linear-gradient(0deg, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3));

  border-radius: 12px;

  div {
    &:first-child {
      flex: 1;

      img {
        width: 88px;
        height: 80px;

        border-radius: 70%;
      }
    }

    &:last-child {
      flex: 2;
    }
  }
}
