.content {
  background: #ffffff;
  color: #000000;
  padding: 20px 20px;
  text-align: left;
  border-radius: 12px;
  min-width: 160px;
  .headerContentContainer {
    display: flex;
    justify-content: space-between;
    h3 {
      text-align: right;
    }
    div {
      color: #42D395;
      font-size: 1.4rem;
      text-align: right;
    }
  }
  p {
    color: #BBBBBB;
  }
}
