.rightContainer {
  flex: 2;

  h2 {
    text-align: left;
    padding-inline-start: 1rem;

    margin-bottom: 8px;
  }

  > div {
    > span {
      display: block;
      margin: auto;
    }
    min-height: 400px;
  }
}
