.itemEmptyContainer {
  width: 26vw;
  height: 200px;
  margin: 36px 15px 3em 15px;
  color: rgba(187, 187, 187, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 1);
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  border-radius: 4px;
}
