.list_box {
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
  justify-content: flex-start;
  

  &.row {
    flex-direction: row;
  }

  &.toStart {
    
    > li {
      flex: 0;
    }
  }

  li {
    flex: 1;
    flex-basis: 0;
  }
}