.header {
  height: 70px;
  width: 100%;
  display: inline-block;
}

.logo {
  float: left;
  margin: 0.7rem;
}

.nav {
  float: right;
  margin: 1.5rem;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
