.mobileBtn {
  display: none;
  > svg {
    padding: 1vw;
    width: 8vw;
    height: 8vw;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.inner_content {
  overflow-y: hidden;
  height: 100%;
  width: 100%;

  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  position: relative;

  &.isActive {
    overflow-y: auto;
  }
}
