.mobileBtn {
  display: none;
  > svg {
    padding: 1vw;
    width: 8vw;
    height: 8vw;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.inner_content {
  overflow-y: auto;
  max-height: 33rem;
  width: 100%;
  padding: 40px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

