.review {
  .viewReview {
    .inner {
      width: 66.7%;
      margin: 0 auto;

      h3 {
        text-align: left;
      }

      .reviewContent {
        margin: 5% 0 7% 0;

        > ul {
          width: 40%;
          flex-wrap: wrap;

          > li:last-child(1) {
            margin-right: 75%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .review {
    .viewReview {
      .inner {
        width: 100%;
        margin: 0 auto;

        h3 {
          text-align: left;
        }

        .reviewContent {
          margin: 2%;

          > ul {
            flex-wrap: wrap;
            align-items: stretch;
          }
        }
      }
    }
  }
}
