.review{
    .viewReview{
        background-color: #022F1C;

       .inner{
        border: 0;
        width: 67.7%;
        margin: auto;
            h3{
                text-align: left;
                padding: 3% 0 0 0;
                color: white;
            }
            .reviewContent{
                padding: 5% 0 7% 0;
            }
       }
    }
}

@media(max-width:768px){
    .review {
            .viewReview {
                background-color: #022F1C;
    
                .inner {
                    border: 0;
                    width: 100%;
                    margin: auto;
    
                    h3 {
                        text-align: left;
                        padding: 0;
                        color: white;
                    }
    
                    .reviewContent {
                        padding: 5%;
                    }
                }
            }
        }
}