.reservationdetailuser{
    h3{
        font-size: 1.3rem;
    }

    h4{
        text-align: left;
        padding:1%;
        font-size: 1.1rem;
    }

    .contentInline{
        padding: 2%  25% 25% 25%;
        position:relative;
        right:25%;

        button {
                color: white;
                background: rgb(46, 158, 110);
                border: none;
                padding: 1%;
                text-align: right;
                font-size: 1rem;
                border-radius: 4px;
                margin-right: 1%;
                position: relative;
                left:40%;
                
            }
    }
}
