.carouseldataLast {
    .upImg {
        width: 14vw;
        height: 14vw;
        border-radius: 20px;
        margin-right: 65px;
        display: flex;
        justify-content: center;
        align-items:center;
        background: url(../assets/image/sample.jpg);
        // background: linear-gradient(
        //     to right,
        //     rgba(20, 20, 20, 0) 10%,
        //     rgba(20, 20, 20, 0.25) 25%,
        //     rgba(20, 20, 20, 1) 50%,
        //     rgba(20, 20, 20, 1) 75%,
        //     rgba(20, 20, 20, 1) 100%
        //   ), url(../assets/image/sample.jpg);
        background-size: cover;
    }
    .downDesc{
        color: white; 
        text-align: left;
        padding: 10px 30px;
        .downDescInfo {
            p {
                padding: 3px 0;
                font-size: 0.9em;
                font-weight: 400;
            }
        }
    }
}

.carouseldata {
    .upImg {
        width: 14vw;
        height: 14vw;
        border-radius: 20px;
        margin-right: 65px;
        display: flex;
        justify-content: center;
        align-items:center;
        background: url(../assets/image/sample.jpg);
        background-size: cover;
    }
    .downDesc{
        color: white; 
        text-align: left;
        padding: 10px 30px;
        .downDescInfo {
            p {
                padding: 3px 0;
                font-size: 0.9em;
                font-weight: 400;
            }
        }
    }
}

@media(max-width:768px) {
    .carouseldata {
        padding:10%;
            .upImg {
                width: 100%;
                height: 250px;
                border-radius: 20px;
                margin-right: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .downDesc {
                color: white;
                text-align: left;
                padding: 10px 30px;
                .downDescInfo {
                    p {
                        font-size: 0.9em;
                        font-weight: 400;
                    }
                }
            }
        }
    
}