.carouseldata {
  .upImg {
    width: 14vw;
    height: 14vw;
    border-radius: 20px;
    margin-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  .downDesc {
    color: white;
    text-align: left;
    padding: 10px 30px;
    .downDescInfo {
      p {
        padding: 3px 0;
        font-size: 0.8em;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 768px) {
  .carouseldata {
    padding: 10%;
    .upImg {
      width: 100%;
      height: 250px;
      border-radius: 20px;
      margin-right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .downDesc {
      color: white;
      text-align: left;
      padding: 10px 30px;
      .downDescInfo {
        p {
          font-size: 0.8em;
          font-weight: 300;
        }
      }
    }
  }
}
