.login {
  width: 100%;
  height: calc(
    100vh - 72px - 160px
  ); // 전체 - 헤더높이 - 푸터높이 ( 스크롤 없애고 딱 맞추기위해 )
  min-height: 680px;

  .section {
    height: 100%;
    margin: 0 calc((620 / 1920) * 100%);

    @media (max-width: 1024px) {
      margin: 0;
    }

    .loginArea {
      top: 120px;
      width: 680px;
      position: absolute;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .loginHead {
        margin-bottom: 30px;
      }

      .loginBox {
        box-sizing: border-box;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #eaeaea;
        border-radius: 6px;
        height: 520px;

        .loginTab {
          input {
            display: none;
          }

          label {
            display: inline-block;
            box-sizing: border-box;
            line-height: 48px;
            font-size: 20px;
            font-weight: 700;
            width: 50%;
            height: 48px;
            border: 1px solid #eaeaea;
            border-radius: 6px 6px 0px 0px;
            transition: all 0.3s ease;
            cursor: pointer;

            :hover {
              opacity: 0.75;
            }
          }

          input:checked + label {
            background: #42d395;
            color: white;
          }
        }
      }
    }
  }
}
