.houseRegist {
  height: 100%;
  width: 1024px;
  margin: 64px calc((100vw - 1024px) / 2);

  @media (max-width: 1024px) {
    width: calc(1024 * 0.1vw);
    margin: 64px calc((100vw - (1024px * 0.1vw) / 1px) / 2);
  }
  .registFieldSet {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
      width: 90%;
      margin: 0 5%;
    }

    h1 {
      font-size: 26px;
    }

    .registDescription {
      box-sizing: border-box;
      width: 920px;
      height: 106px;
      background: #fafafa;
      border: 1px solid #42d395;
      border-radius: 8px;
      display: flex;
      align-items: center;

      @media (max-width: 1024px) {
        width: calc(920 * 0.1vw);
      }

      .descIcon {
        display: flex;
        justify-content: center;
        width: 10%;

        @media (max-width: 768px) {
          display: none;
        }

        .icon {
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background: #42d395;
          color: white;
          border: 2px solid #42d395;
        }
      }

      .descText {
        width: 80%;
        margin-right: 10%;

        @media (max-width: 768px) {
          margin: 10%;
        }

        p {
          float: left;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;

          @media (max-width: 1024px) {
            font-size: (16 * 0.1vw);
          }
        }
      }
    }

    .formInner {
      width: 100%;
      font-size: 16px;

      table {
        width: 100%;
        border-width: 1px 0;
        border-color: black;
        border-style: solid;
        border-collapse: collapse;

        tr {
          border-width: 0 0 1px 0;
          border-color: #bababa;
          border-style: solid;
          display: flex;
          text-align: start;

          td {
            padding: 12px;
            justify-content: baseline;
          }
        }
      }

      .infoTitle {
        width: 120px;
        padding: 24px 16px;

        h3 {
          font-weight: 700;
          font-size: 16px;
        }
      }

      .defaultInfo {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .mainAddress {
          box-sizing: border-box;
          width: 200px;
          height: 40px;
          background: #fafafa;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          padding: 8px;
          margin: 4px;
        }

        .searchBtn {
          box-sizing: border-box;
          width: 113px;
          height: 40px;
          border: none;
          border-radius: 4px;
          background: #42d395;
          margin: 4px;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        .searchBtn:hover {
          opacity: 0.7;
        }

        .subAddress {
          box-sizing: border-box;
          width: 460px;
          height: 40px;
          background: #fafafa;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          padding: 8px;
          margin: 4px;
        }

        .purpose {
          box-sizing: border-box;
          width: 200px;
          height: 40px;
          background: #fafafa;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          padding: 8px;
          margin: 4px;
        }

        .purposeBtn {
          box-sizing: border-box;
          width: 113px;
          height: 40px;
          border: none;
          border-radius: 4px;
          background: #42d395;
          margin: 4px;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        .purposeBtn:hover {
          opacity: 0.7;
        }

        .constract {
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            margin: 8px;
            width: 24px;
            height: 24px;
          }
          input[type="checkbox"]:checked {
            accent-color: #42d395;
          }
        }

        .unitInput {
          box-sizing: border-box;
          display: inline-flex;
          justify-content: right;
          margin: 0px 12px;

          input {
            box-sizing: border-box;
            width: 120px;
            height: 40px;
            background: #fafafa;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            padding: 8px;
            margin: 4px;
          }

          p {
            position: absolute;
            margin: 14px 16px;
            font-size: 14px;
            color: #bbbbbb;
          }
        }
      }

      .additionalInfo {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        td {
          display: flex;
          align-items: center;
        }

        input[type="radio"] {
          display: none;
        }

        label {
          margin: 0 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 70px;
          height: 40px;
          color: #bbbbbb;
          background: #fafafa;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.2s ease;

          label:hover {
            color: #42d395;
            border-color: #42d395;
          }
        }

        input[type="radio"]:checked + label {
          color: white;
          background: #42d395;
          border: none;
        }

        input[type="date"] {
          width: 300px;
          height: 40px;
          font-size: 14px;
          padding-left: 80px;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
          transform: translateX(-260px);
        }
      }
    }
  }
}
