.houseList {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1024px;
  margin: 32px calc((100vw - 1024px) / 2);

  @media (max-width: 1024px) {
    width: 100%;
    margin: 32px calc((100vw - 100%) / 2);
  }

  .listInner {
    width: 100%;

    h1 {
      font-size: 26px;
    }

    .listDescription {
      background: #fafafa;
      line-height: 32px;
      display: flex;
      border: 1px solid #42d395;
      border-radius: 8px;
      padding: 16px;
      margin: 12px 5%;
      width: 90%;

      @media (max-width: 1024px) {
        font-size: calc(15 * 0.1vw);
        line-height: 24px;
      }

      .descIcon {
        display: flex;
        justify-content: center;
        width: 20%;

        @media (max-width: 768px) {
          display: none;
        }

        .icon {
          width: 72px;
          height: auto;
        }
      }

      .descText {
        width: 80%;
        margin-right: 10%;

        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }

        p {
          font-weight: 600;
          color: #4bad83;
        }
      }
    }

    .registContent {
      width: 100%;
      margin: 12px 0;
      padding: 0 8px;
      display: flex;
      justify-content: flex-end;

      button {
        background: #42d395;
        padding: 8px 12px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        @media (max-width: 1024px) {
          font-size: calc(16 * 0.1vw);
        }
      }
      button:hover {
        opacity: 0.75;
      }
    }

    .inputButton {
      box-sizing: content-box;
      width: 70%;
      margin: 0 15%;
      height: 36px;
      font-size: 16px;
      border: 1px solid #d9d9d9;
      border-radius: 7px;

      @media (max-width: 1024px) {
        height: calc(36 * 0.11vw);
        font-size: calc(16 * 0.11vw);
      }

      input {
        box-sizing: border-box;
        width: 85%;
        height: 36px;
        font-size: 16px;
        border: none;
        padding: 4px 12px;
        border-radius: 6px;
        float: left;

        @media (max-width: 1024px) {
          height: calc(36 * 0.11vw);
          font-size: calc(16 * 0.11vw);
        }
      }

      :hover {
        opacity: 0.75;
      }

      button {
        height: 100%;
        width: 15%;
        float: left;
        border-radius: 6px;
        background-color: #42d395;
        border-style: none;
        font-size: 16px;
        font-weight: 700;
        color: #fafafa;
        transition: all 0.2s ease;
        cursor: pointer;

        @media (max-width: 1024px) {
          height: calc(36 * 0.11vw);
          font-size: calc(16 * 0.11vw);
        }
      }
    }
  }
}
