.inputbox{
    text-align: left;
    .singleroom, .tworoom {
        display: flex;
        justify-content: space-between;
        padding:0 0 3% 0;

        label{
            font-size: 1.1rem;
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
        }

        input{
            padding:2.5% 0%;
            // margin-right: 8%;
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
        }
    }

    .houselease{
        padding: 0 0 3% 0;
        label {
                background: #FAFAFA;
                border: 1px solid #D9D9D9;
                border-radius: 4px;
        }
        input {
            padding: 2.5% 0;
            margin-right: 4%;
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            width:100%;
        }
    }
}