.inner {
  border: 0;
  width: 80%;
  margin: auto;

  margin-bottom: 6.67%;

  .aboutContent {
    padding: 10% 0%;
    display: flex;
  }
}

@media (max-width: 768px) {
  .inner {
    border: 0;
    width: 100%;
    margin: auto;

    margin-bottom: 6.67%;

    .aboutContent {
      padding: 10% 0%;
      display: flex;
    }
  }
}
