.alert {
  position: fixed;

  right: 0;
  bottom: 0;

  width: 300px;
  min-height: 300px;
  max-width: 300px;

  z-index: 9999;

  background: $main-dark;
  color: #fff;
  padding: 16px;
  text-align: center;

  border-top-left-radius: 32px;

  animation: tumyeng 0.5s ease-out;

  h2 {
    text-align: left;
    padding: 16px;
  }

  hr {
    margin-bottom: 32px;
    width: 70%;
  }

  p {
    padding: 8px;
    margin-bottom: 32px;
  }

  a {
    color: #fafafa;
    font-weight: 700;
  }
}

@keyframes tumyeng {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
