.list_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow: scroll;

  &.row {
    flex-direction: row;
  }

  li {
    flex: 1;
    flex-basis: 0;
  }

  &.toStart {
    li {
      flex: 0;
    }
  }
}

@media (max-width: 768px) {
  .list_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &.row {
      flex-direction: column;
    }

    li {
      flex: 1;
      flex-basis: 0;
    }
  }
}
